@model ForgotPasswordViewModel
@{
    var errMsg = ViewBag.Err;
    var link = ViewBag.Link;
}

<div class="login-panel">
    <h4>Forgot your password?</h4>
    <h6>Enter email below to get password reset link.</h6>


    <form method="post" asp-action="ForgotPassword" asp-controller="Account">
            <div style="color:red; font-size:12px;">
                @if (!string.IsNullOrEmpty(errMsg))
                {
                    @errMsg;
                }
            </div>
            <div class="input-control">
                <span asp-validation-for="Email" style="color:red; font-size:10px;"></span>
                <input asp-for="Email" placeholder="email" />
            </div>

            <button>Submit</button>
        @if (!string.IsNullOrEmpty(link))
        {
            @link
        }
    </form>



</div>